.user-board-container {
    width: 80%;
    margin: 200px auto;

    .user-board-title {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 100px;
        
    }

    .Bcomentbox {
        padding: 30px;
        margin: 0 auto;
        width: 80%;
        display: flex;
        background-color: rgb(223, 222, 222);
        border-radius: 10px;
        
    
        .Bcoment {
            width: 100%;
            margin-right: 300px;
            line-height: 30px;

            .bold {
                font-weight: bold;
                font-size: 20px;
                color: navy;
            }
        }

        .goBWriteBtnbox {
            width: 400px;
            // margin-left: 100px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-right: 20px;
        
            .goBwriteForm {
            margin-right: 30px;
            width: 130px;
            height: 50px;
            background-color: #0D1245;
            font-weight: bold;
        
                &:hover {
                    background-color: #0d124579;
                    color: white;
                }
            }

            
        }
    }

    .user-board-table {
        width: 100px;
        margin-top: 80px;
        // background: red;
        // margin: 100px auto;
        // cursor: pointer;
        // background-color: green;

        
            
            

            .bRow {
                cursor: pointer;
                margin: 0 auto;
                width: 80%;
                height: 65px;
                display: flex;
                border-top: 2px solid black;
                padding: 10px;
                text-align: center;

                .Bno{
                    width: 200px;
                    border-style: none;
                    background: floralwhite;
                    
                }

                .Btitle{
                    width: 500px;
                    margin-left: 70px;
                    margin-right: 50px;
                    text-align: start;
                    border-style: none;
                    background: floralwhite;
                    font-weight: bold;
                    font-size: 20px;
                    color: navy;
                    
                }

                .Bwriter{
                    width: 200px;
                    border-style: none;
                    background: floralwhite;
                    
                }

                .Bdate{
                    width: 400px;
                    margin-left: 50px;
                    border-style: none;
                    background: floralwhite;
                    
                }

                .Bview{
                    width: 200px;
                    border-style: none;
                    // background-color: transparent !important;
                    background: floralwhite;
                }

                .boardDeleteBtn {
                    font-size: 20px;
                    margin-left: 15px;
                    background-color: floralwhite;
                    border: none;
                    &:hover {
                        // width: 45px;
                        background: red;
                        padding: 0 5px;
                        border-radius: 5px;
                        height: 35px;
                    }
                }
            }

        
    }
}