.main-link-container {
    // background-color: bisque;
    margin-top: 100px;
    width: 100%;
    height: 1400px;
    background: rgb(199, 215, 230);

    .eTitleBox {
        text-align: center;
        margin-bottom: 80px;
        margin-top: 80px;

        .etitle {
            font-weight: bold;

            height: 70px;
            font-weight: 700;
            font-size: 2.7rem;
            line-height: 1.235;
            letter-spacing: 0.00735em;
            margin-bottom: 20px;
            color: #333;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        }

        .eComment {
            // width: 80%;
            height: 20px;
            font-size: 17px;
            margin: 20px auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: rgb(82, 80, 80);
            font-weight: 600;
        }
    }

    .card-container {
        max-width: 500px;
        margin: 20px auto 0;
        height: 615px;
        box-shadow: none; /* 그림자 없애기 */
        // background-color: aqua;
        border: 2px solid;
        margin-bottom: 60px;
        
    }
    
}

.links-box {
    display: flex;

    .main-link-first-container {
        // background-color: yellow;
        width: 50%;
        margin-top: 20px;
        height: 500px;
        margin-left: 150px;

        .first-container-img {
            .link-img {
                // padding-right: 20px;
                width: 95%;
                height: auto;
                // margin-top: 50px;
            }
        }
            
        .go-spot-box {
            padding: 30px;
            background-color: #f6f3f2;
            font-weight: 2rem;
            width: 95%;
            border: 2px solid;
            

            .go-spot-title {
                margin-bottom: 10px;
                font-weight: bold;
            }

            .go-spot-comment {
                // margin-top: 20px;
                cursor: pointer;
                color: gray;
                font-weight: bold;
            }

            .goCBtn {
                margin-top: 20px;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}



  
  .img-box {
    position: relative;
    text-align: center;
    // background-color: aqua;
    
    
    .support-car-name {
        text-align: center;
        width: 95%;
        height: 45px;
       
    }

    .img-left-btn {
        // // align-items: center;
        // // margin-top: 20px;
        // font-size: 50px;
        // position: relative;
        // top: 70px;
        // color: rgba(0, 0, 0, 0.5);
        display: none;

    }
    .img-right-btn {   
        // font-size: 50px;
        // position: relative;
        // top: 70px;
        // color: rgba(0, 0, 0, 0.5);
        display: none;

        
    }
  }
  
  .img {
    // width: 80%;
    // height: auto;
    // margin-top: 50px;
    width: 330px;
    height: 250px;
    margin-top: 50px;
    
  }
  
  .support-car-name {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    // color: black;
    font-weight: 2rem;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .support-text-box {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .support-text {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    .sub {
        font-weight: 800;
    }
  }

  .gosupportCarListBtn {
    
    // background-color: yellow;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    
    .gosupportCarList {
        width: 200px;
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        background-color: hsla(234, 69%, 16%, 0.788);
        border: none;
        margin-top: 20px;

        &:hover {
            background-color: rgb(12, 12, 88);
        }
    }
    
  }

.carousel-indicators {
    align-items: flex-end;
    text-align: center;
    // margin-bottom: 0;
    margin: 0 auto;
    margin-top: 40px;
    background: gray;
    
}

.carousel-indicators [data-bs-target] {
    background-color: #333;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    visibility: hidden;
}

.simple-go-container {
    width: 80%;
    height: 400px;
    margin-top: 100px;
    margin-left: 160px;
    
    // background-color: yellow;

    .goBoxes {
        display: flex;
        justify-content: space-between;
        color: rgb(63, 62, 62);
        
        
        .goUserWrite {
            width: 400px;
            height: 200px;
            font-size: 25px;
            padding: 30px;
            background-color: #f6f3f2;
            font-weight: bold;
            cursor: pointer;
            border: 2px solid;

            &:hover {
                background-color: hsl(235, 68%, 16%);
                color: #fff;

                .hoverEF {
                    visibility: visible;
                    
                }
            }
            .goWBtn {
                text-align: right;
                font-size: 17px;
                margin-top: 35px;
                
                
            }
        }

        .goMyPage {
            width: 400px;
            height: 200px;
            font-size: 25px;
            padding: 30px;
            background-color: #f6f3f2;
            font-weight: bold;
            cursor: pointer;
            border: 2px solid;

            &:hover {
                background-color: hsl(235, 68%, 16%);
                color: #fff;

                .hoverEF {
                    visibility: visible;
                    
                }
            }

            .goMBtn {
                text-align: right;
                font-size: 17px;
                margin-top: 35px;
                
            }
        }

        .goQnA {
            width: 400px;
            height: 200px;
            font-size: 25px;
            padding: 30px;
            background-color: #f6f3f2;
            font-weight: bold;
            cursor: pointer;
            border: 2px solid;

            &:hover {
                background-color: hsl(235, 68%, 16%);
                color: #fff;
                
                .hoverEF {
                    visibility: visible;
                    
                }
            }

            .goFBtn {
                text-align: right;
                font-size: 17px;
                margin-top: 35px;
                
            }
        }
    
    }
}

.hoverEF {
    visibility: hidden;
    padding-top: 20px;
    width: 90%;
    height: 20px;
}