.UBDcontainer {
    width: 70%;
    margin: 200px auto;

    .backUserBoard {
        font-size: 25px;
        width: fit-content;
        cursor: pointer;
        margin-left: 130px;
    }

    .UBDcontainerTitle {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
    }

    .boardDetailDeleteBtn {
        margin-right: 10px;
        margin-top: 5px;
        font-size: 20px;
        &:hover {
            background-color: rgba(25, 14, 124, 0.164);
            border-radius: 20px;
            
        }

        .deletement {
            color: rgba(0, 0, 0, 0.425);
            font-size: 15px;
            font-weight: bold;
            border: 2px solid lightgray;
            border-radius: 20px;
            padding:10px 15px 10px;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
    }
    .accuseBtnBox {
        // width: 70%;
        // margin: 30px auto;
        display: flex;
        // justify-content: end;
        font-size: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 5px;

        

        
        .accuseText {
            color: rgba(0, 0, 0, 0.425);
            font-size: 15px;
            font-weight: bold;
            border: 2px solid lightgray;
            border-radius: 20px;
            padding: 7px 15px;
            font-weight: bold;
            cursor: pointer;

            // background-color: black;
            &:hover {
                color: black;
                background-color: #d3b2ad0e;
            }
        }
        
        .accuseBtn {
            color: red;
            font-size: 25px;
        }
    }

    .UBD-card-container {
        width: 70%;
        margin: 0 auto;
        border-radius: 0;
        
        .UBD-container-form {
            // background: linear-gradient(135deg, #ece9e6, #ffffff);
        }
        .UBDcardIMG {
            // width: 550px;
            // height: 350px;
            // margin: 0 auto;
            width: 100%;
            height: 450px;
            margin: 0 auto;
            padding: 20px;
            // background-color: rgb(223, 222, 222);
            border-radius: 0;
            border-bottom: 1px solid #0000002b;
        }

        .UserBoardInfo {
            display: flex;
            justify-content: space-around;
            height: 50px;
            align-items: center;
            background-color: rgb(223, 222, 222);
            font-weight: bold;
            color: rgb(63, 62, 62);
            border-bottom: 1px solid #0000002b;
            

            .BoardInfoDetail {
                font-size: 17px;
            }
        }

        .UBDcardBody {
            margin-top: 20px;
            border-radius: 0;
            margin-bottom: 20px;
            
            .UBDcardTitle {
                font-weight: bold;
            }
        }

        .mentSubmitBtnBox {
            display: flex;
            justify-content: center;
            
            .mentSubmitBtn {
                font-weight: bold;
                background-color: #0D1245;

                &:hover {
                    background-color: #0d124579;
                    color: white;
                }
            }
        }
        
    }

    .UBD-card-container2 {
        width: 70%;
        margin: 0 auto;
        // background-color: rgb(223, 222, 222) !important;
        // transition: transform 0.3s ease, box-shadow 0.3s ease;
        background: linear-gradient(135deg, #ece9e6, #ffffff);
        border-radius: 0;
    
        .likeDislikeContainer {
            display: flex;
            justify-content: center;

            .goodBtn {
                margin: 0 10px;
                transition: background-color 0.3s ease, transform 0.3s ease;
                &:hover {
                    transform: translateY(-2px);
                }
            }

            .badBtn {
                margin: 0 10px;
                transition: background-color 0.3s ease, transform 0.3s ease;
                &:hover {
                    transform: translateY(-2px);
                }
            }
        }
    }
}