.mainContainer {
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, lightgray 46%, floralwhite 0%);
}

.pageTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #222;
  text-align: center;
}

.myInfoContainer {
  padding: 40px;
  width: 100%;
  max-width: 800px;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  max-width: 2000px;
  justify-content: center;
  margin-top: 50px;
}

.subContainer, .bookmarkChargeSpaceContainer {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid rgb(69, 69, 209);
  padding: 40px;
  flex: 1;
  min-width: 300px;
  max-height: 600px;
  margin-top: 50px;
}

.bookmarkChargeSpaceTitle, .titles {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 110px;
  color: gray;
  padding-bottom: 20px;
}

.reservationListContainer, .inquiryListContainer {
  width: 100%;
  max-height: 350px;
  background-color: #fff;
  overflow-y: auto;
}

.reservationItem, .inquiryItem {
  width: 260px;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s;
}

.reservationItem:hover, .inquiryItem:hover {
  background-color: #f4f7f9;
}

.reservationItem:last-child, .inquiryItem:last-child {
  border-bottom: none;
}

.reservationTitle, .inquiryTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #222;
}

.reservationDate, .inquiryContent {
  font-size: 1.1rem;
  color: #555;
  margin-top: 8px;
}
