// SimpleSlider.scss

// 슬라이더 컨테이너
.simple-slider {
  width: 80%; /* 슬라이더의 너비 */
  margin: 0 auto; /* 가운데 정렬 */
}

// 슬라이드 항목
.simple-slider .slick-slide {
  margin: 0 10px; /* 슬라이드 간격 설정 */
  transition: transform 0.3s ease-in-out; /* 슬라이드 간 이동 시 부드러운 전환 효과 */
}

// 도트 컨테이너
.simple-slider .slick-dots {
  bottom: 10px; /* 도트 위치 조정 */
}

// 각 도트
.simple-slider .slick-dots li {
  margin: 0 5px; /* 도트 사이 간격 조정 */
}

// 활성화된 도트의 색상
.simple-slider .slick-dots li button:before {
  color: #007bff; /* 활성화된 도트의 색상 */
}

.slick-slider {
  margin-top: 210px;
  height: 370px;
  width: 100%;

  .slick-initialized {
    .some-child-element {
      // .slick-slider.slick-initialized .some-child-element에 대한 스타일
    }
  }

  .imgbox {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100%; /* 부모(.slick-slider)의 높이와 같게 설정 */
    position: relative;

    .mainCarImg {
      display: block;
      width: 70%;
      height: auto;
      max-width: 1000px; /* 중앙 이미지는 최대 너비 1000px */
      max-height: 400px;
      transition: transform 0.3s ease-in-out;
    }

    &:not(.slick-center) .mainCarImg {
      transform: scale(0.8); /* 중앙이 아닌 이미지 축소 */
      opacity: 0.5; /* 중앙이 아닌 이미지 투명도 설정 */
    }
  }

  .slick-center .imgbox .mainCarImg {
    transform: scale(1.3); /* 중앙 이미지 확대 */
    opacity: 1; /* 중앙 이미지 불투명도 설정 */
  }
}

.mainCarImgName {
  font-size: 25px;
  font-weight: 700;
  color: black;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  left: 1100px;
  top: -40px;
  text-decoration-line: underline;
}
