.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.userName {
  margin: 20px 0;
  font-weight: bold;
  font-size: 40px;
}

.pageIndicator {
  font-size: 24px;
  color: #777;
  margin-left: 10px;
}

.userInfo {
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
  color: #777;
}

.inputGroup {
  margin: 10px 0;
  font-size: 17px;
}

.inputGroup label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.inputGroup input {
  padding: 8px;
  width: 400px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editProfileButton,
.saveProfileButton,
.cancelEditButton {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.editProfileButton {
  background-color: rgb(69, 69, 209);
  color: white;
  font-size: 20px;
  margin-top: 40px;
}

.editProfileButton:hover {
  background-color: darkgray;
}

.saveProfileButton {
  background-color: black;
  color: white;
}

.saveProfileButton:hover {
  background-color: gray;
}

.cancelEditButton {
  background-color: #dc3545;
  color: white;
}

.cancelEditButton:hover {
  background-color: lightcoral;
}

.phoneNumberButton {
  padding: 10px 20px;
  background-color: rgb(69, 69, 209);
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.phoneNumberButton:hover {
  background-color: darkgray;
}

.verification-code {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.verification-code input {
  padding: 8px;
  width: 100px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.verification-code button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.verification-code button:hover {
  background-color: #218838;
}
