.chargespaceWrapper {
    width: 80%;
    height: 70%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: #fff;
}