.find-charge-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.find-charge-header {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

.find-charge-filters {
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom: 1px solid gray;
  background-color: rgb(129, 172, 236);
}

.find-charge-content {
  display: flex;
  flex: 1;
}

.search-area {
  width: 300px;
  padding: 1rem;
  border-right: 1px solid #dee2e6;
  overflow-y: auto;
}

.map-area {
  flex: 1;
  position: relative;
}

.map-area > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-component > div {
  margin-bottom: 1rem;
}

.search-component select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.search-component button {
  width: 80px;
  height: 80px;
  padding: 0.75rem;
  background-color: white;
  color: rgb(13, 110, 253);
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-component button:hover {
  background-color: rgb(13, 110, 253); 
  color: white; 
  border-color: black;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

.search-results li {
  margin-bottom: 1rem;
} 

