@font-face {
    font-family: "Jua";
    src: url("../components/fonts/Jua-Regular.ttf");
  }
  
  @font-face {
    font-family: "Dongle";
    src: url("../components/fonts/Dongle-Regular.ttf");
  }
  
  @font-face {
    font-family: "YeonSung";
    src: url("../components/fonts/YeonSung-Regular.ttf");
  }
  
  .header-link {
    text-decoration: none;
    color: #333; // 사이트의 링크 색상에 맞게 조정
    font-weight: 700;
    margin-right: 50px;
    
  
    // 호버 효과
    &:hover {    
      color: rgb(13, 110, 253);       
    }
  }



    img.naver{
      box-shadow: 2px 2px 6px rgba(0.6, 0.6, 0.6, 0.3);

      &:hover {
        // transform: translateY(-0.1px);
        box-shadow: 1px 4px 8px rgba(0.6, 0.6, 0.6, 0.6);
        background-color: rgba(101, 235, 135, 0.1);
        // border: 2px solid gray;
        
      }
    }

    img.kakao{
      box-shadow: 2px 2px 6px rgba(0.6, 0.6, 0.6, 0.3);

      &:hover {
        // transform: translateY(-0.1px);
        box-shadow: 1px 4px 8px rgba(0.6, 0.6, 0.6, 0.6);
        background-color: rgba(101, 235, 135, 0.1);
        // border: 2px solid gray;
        
      }
    }

    .googleLoginBtn{
      box-shadow: 2px 2px 6px rgba(0.6, 0.6, 0.6, 0.3);

      &:hover {
        // transform: translateY(-0.1px);
        box-shadow: 1px 4px 8px rgba(0.6, 0.6, 0.6, 0.6);
        background-color: rgba(101, 235, 135, 0.1);
        // border: 2px solid gray;
        
      }
    }

    