.login-container {
  width: 550px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  animation: fadeIn 2s ease;
  background: white;
  height: 500px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.login-container h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 190px;
  font-size: 38px;
  font-weight: bold;
}

.regular-login-section {
  margin-bottom: 20px;
}

.regular-login-section form {
  display: flex;
  flex-direction: column;
  // margin-bottom: 30px;
}

.regular-login-section label {
  margin-bottom: 10px;

  // &:focus {
  //   box-shadow: 0px 1px 4px rgba(1, 1, 0, 0.6);
  // }
}

.regular-login-section input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 45px;
    border: 2px solid rgba(128, 128, 128, 0.219);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 550;
    color: rgb(78, 76, 76);
    &:focus {
      outline: 0;
    }
 
}

.regular-login-section button {
  width: 80%;
    padding: 11px;
    margin-top: 10px;
    margin-left: 45px;
    background-color: darkgray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.regular-login-section button:hover {
  background-color: gray;
}

.social-login-images {
    
    width: 80%;
    margin: 0 auto 20px;
}


.social-login-button1 {
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  // width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  // margin-right: 5px;

  &:hover {
    transform: scale(1.05); 
  }
}

.social-login-button2 {
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  margin-right: 5px;

  &:hover {
    transform: scale(1.05); 
  }
}



.social-icon1 {
  width: 125px;
  height: 33px;
}

.social-icon2 {
  width: 120px; 
  margin-left: -5px;
}

.social-login-button1.google-login-button {
  width: 120px;
    border: 2px solid lightgray;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 600;
    padding: 2.5px;
    margin-left: 5px;
}

.google-icon {
  width: 24px;
    margin-right: 5px;
    margin-left: -3px;
    font-size: 13px;
    padding-top: 1px;
}

.signup-section {
  margin-top: 20px;
  text-align: center;
  display: flex;
  font-size: 13px;
  width: 80%;
  margin: 0 auto;
}

.signup-section p {
  margin-bottom: 10px;
  margin-right: 10px;
  color: rgb(75, 74, 74);
  // font-size: 15px;
}

.find-section {
  margin-top: 20px;
  text-align: center;
  display: flex;
  font-size: 13px;
  width: 80%;
  margin: 0 auto;
}

.find-section p {
  margin-bottom: 10px;
  margin-right: 10px;
  color: rgb(75, 74, 74);
  // font-size: 15px;
}

.signup-button {
  // padding: 10px 10px;
  color: rgb(75, 74, 74);
  font-weight: 600;
  // border: none;
  // border-radius: 10px;
  cursor: pointer;
  // margin-bottom: 20px;
  // font-size: 15px;
}

.find-button {
  
  color: rgb(75, 74, 74);
  font-weight: 600;
  cursor: pointer;
  
}

// .signup-button:hover {
//   transform: scale(1.05);
//   background-color: darkgray; 
// }