.listContainer {
    width: 40%;
    height: 600px;
    border-radius: 30px;
    border: 2px solid; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
}
