.search-result {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  max-height: 500px;
  overflow: auto;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
  }

  p {
    margin: 0.5rem 0;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  &::-webkit-scrollbar {
    width: 0; /* 스크롤 바의 너비 */
  }
}
