.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .form {
    width: 100%;
  }

  .inputLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 30px;

    input {
      margin-top: 5px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      font-size: 1rem;
      box-sizing: border-box;
    }
  }

  .sendCodeBtn,
  .verifyCodeBtn {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
    max-width: 200px;

    &:hover {
      background-color: #0a58ca;
    }
  }
}
